[Desktop Entry]
#Version=0.9
Type=Application
Name=COMPASS
Comment=OpenATS Compliance Assessment
#TryExec=atsdb-client
Exec=compass_handler -f
Icon=ats
Categories=Science;NumericalAnalysis;DataVisualization;
#MimeType=image/x-foo;
#Actions=Gallery;Create;

#[Desktop Action Gallery]
#Exec=fooview --gallery
#Name=Browse Gallery

#[Desktop Action Create]
#Exec=fooview --create-new
#Name=Create a new Foo!
#Icon=fooview-new
X-AppImage-Version=5e91f777
